<html>
  <head>
    
  </head>
  <body>
    <div style="width: 80vw; position:relative;">
      {% for year in data["date_offsets_years"] %}
        <div style="position: absolute; display: inline; top: 0; left: {{ data["date_offsets"][year] }}vw;">
          {{ year }}
        </div>
      {% endfor %}
    </div>
    <script>
      
    </script>
  </body>
</html>
