body {
    background-color: #252017;
    color: #f2e8d5;
}

tr {
    height: 3rem;
}

td {
    text-align: center;
}

a {
    color: wheat;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline; 
} 

.has-tooltip span {
    display: none;
    padding: 2px 3px;
    margin-left: 8px;
    width: 230px;
}

.has-tooltip:hover span {
    display: inline;
    position: absolute;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #6c6c6c;
    z-index: 5;
}