body {
    background-color: #252017;
    color: #f2e8d5;
}

td {
    text-align: center;
}

a {
    color: wheat;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline; 
} 

.has-tooltip > .tooltip {
    display: none;
    padding: 2px 3px;
    margin-left: 8px;
    width: 230px;
}

.has-tooltip:hover > .tooltip {
    display: inline;
    position: absolute;
    background: #000000;
    border: 1px solid #111111;
    color: #ffffff;
    z-index: 5;
}

.status {
    vertical-align: middle; /* Does not work */
    white-space: nowrap;
    display: inline-block;
    padding: 1rem 0; /* But this works? */
}
